<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.CourseDao">
    <insert id="insert" parameterType="Course">
        insert into CMFZ_course (id, title, marking, creatTime) values (#{id},#{title},#{marking},#{creatTime});
    </insert>
    <delete id="delete" parameterType="String">
        delete from CMFZ_course where id=#{id}
    </delete>
    <update id="update" parameterType="Course">
        update CMFZ_course set title=#{title},marking=#{marking},creatTime=#{creatTime}  where id=#{id}
    </update>
    <select id="queryAll" resultType="Course">
        select id, title, marking, creatTime from CMFZ_course
    </select>
    <select id="queryOne" parameterType="Course" resultType="Course">
        select id, title, marking, creatTime from CMFZ_course where id=#{id}
    </select>
    <select id="queryByPage" resultType="Course">
        select id, title, marking, creatTime from CMFZ_course limit #{start},#{rows}
    </select>
    <select id="queryTotals"  resultType="Long">
        select count(id) from CMFZ_course;
    </select>
    <select id="queryById" resultType="Course">
        select id, title, marking, creatTime from CMFZ_course where id=#{id};
    </select>
</mapper>
